head
  title "Brief - Your Daily Facebook Email"
  script(src ='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script(src ='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.38/jquery.form-validator.min.js")
  script(src='/socket.io/socket.io.js')
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
  link(rel='stylesheet', href='style.css')
